.cuerpo
{
  background: url(../img/cocina.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#uno
{
  background: rgba(6, 72, 88, 0.9);
}
.titulo
{
  color: white;
}
.lateral
{
  background-color: #EAFCF4;
}

.card
{
  background-color: #AAF9D6;
  margin: 0px 10px 10px 10px;
}
.avatar
{
  width: 40px;
  height: 40px;
}
